
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
@model Clothes.Models.Account

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Account</li>
        </ol>
    </div>
</div>
<div class="account">
    <div class="container">
        <h2>profile</h2>
       
        <p class="details"> Welcome @Session["username"].ToString() </p>
        <a href="@Url.Action("Logout","Account")">Logout</a>
    </div>
</div>
